/* Main App styles */
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.form-cont {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center; /* To vertically align the form and buttons */
  margin-bottom: 20px; /* Add margin for spacing */
}

.message-form {
  flex-grow: 2; /* Allow the MessageForm to take up available space */
}

.sort-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  height: 50px;
  width: 100px;
}

